@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #860C17;
    
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: center;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: "poppins";
}
header button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #AC601D;
    border: none;
    border-radius: 10px;
}
main{
    width: 100%;
    min-height: calc(100vh - 89px);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login{
    width: 700px;
    height: 500px;
    background-color: white;
    box-shadow: 2px 5px 15px black;
    display: flex;
    flex-direction: row;
}
.login-adm{
    width: 100%;
    height: 100%;
}